body {
    position: relative;
    height: auto;
    min-height: 100% !important;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(248, 248, 248);
}

#xp {
    height: 300px;
    background: yellow;
}

#portofolio {
    height: 300px;
    background: green;
}